@import "./assets/styles/_vars.scss";

.container {
  box-sizing: border-box;
  max-width: 100%;
  background-color: $button-color;
  font-family: $base-font;
  font-size: $base-fontSize;
  font-weight: $base-fontWeight;

  @media screen and (max-width: 900px) {
    font-size: smaller;
  }
  @media screen and (max-width: 500px) {
    font-size: 10px;
  }

  @media screen and (max-width: 375px) {
    font-size: 10px;
  }
}
